
/* .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.Row {
    display: table;
} */

.formParent {
    overflow: auto;
    display: block;
    border-color: forestgreen;
    border-style: double hidden hidden double;
    border-radius: 2px;
    margin-top: 8px;
    max-width: 800px;
}

.inputLabel {
    padding: 0px 10px 0px 10px;
    max-width: 100px;
}

.inputElement {
    border: 1px solid forestgreen;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-left: 10px;
    max-width: 700px;
}

.formButton {
    border-radius: 6px;
    color: forestgreen;
    cursor: pointer;
    padding: 2px 8px 2px 8px;
  }

.formButton:hover {
    background-color: #ccff99;
  }