.itemView {
    width:100%;
}

.itemTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-style: italic;
    color: forestgreen;
    font-size: clamp(20px, 5vw, 3rem);
    margin-left: 8px;
    margin-bottom: 3px;
}

.itemTitle-selected {
    text-decoration: underline;
}

.itemDescript {
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    /* font-size: 3vw; */
    font-size: clamp(15px, 3vw, 1.5rem);
}

.inputElement {
    border: 1px solid forestgreen;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 6px;
}